@import "tailwindcss";

@font-face {
  font-family: "kraut";
  src: url("/fonts/kraut.ttf") format("truetype");
}

@font-face {
  font-family: "stencil";
  src: url("/fonts/stencil.ttf") format("truetype");
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-kraut: "kraut", sans-serif;
  --font-stencil: "stencil", sans-serif;
  --font-sans: var(--font-geist-sans);
}

html,
body {
  touch-action: manipulation;
  overscroll-behavior: none;
  overflow-x: hidden;
}

@media screen and (min-width: 40rem) {
  body {
    scrollbar-gutter: stable;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "kraut", Arial, Helvetica, sans-serif;
  min-height: 100vh;
  overflow-y: hidden;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner 10s linear infinite;
}

.noScroll {
  overflow: hidden !important;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.fadeOut {
  opacity: 1;
  animation: fadeOut 0.2s linear forwards;
  animation-delay: 0.2s;
}

[data-testid="klaviyo-form-SzC5tm"],
[data-testid="form-component"] {
  padding: 4px !important;
}
