@import "tailwindcss";

@font-face {
  font-family: "kraut";
  src: url("/fonts/kraut.ttf") format("truetype");
}

@font-face {
  font-family: "stencil";
  src: url("/fonts/stencil.ttf") format("truetype");
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-kraut: "kraut", sans-serif;
  --font-stencil: "stencil", sans-serif;
  --font-sans: var(--font-geist-sans);
}

html,
body {
  user-select: none;
  touch-action: manipulation;
  overscroll-behavior: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "kraut", Arial, Helvetica, sans-serif;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spinner 10s linear infinite;
}

.light {
  background: white;
  color: black;
}
